# Build and IDE directories
build/
example/
.idea/
__pycache__/
python_files/
venv/
myenv/
platforms/binary_dirs/python_ver_compile.cross/
.vscode/
logs/

# Py4godot directories and files
*.html
py4godot/enums/*.c
py4godot/core/**/*.c
py4godot/core/**/*.h
py4godot/pluginscript_api/*.cpp
py4godot/pluginscript_api/*.h

py4godot/pluginscript_api/**/*.h
py4godot/pluginscript_api/**/*.cpp
py4godot/utils/*.c
py4godot/utils/core_holder_api.h

py4godot/classes/
py4godot/constants/*.cpp
py4godot/cppclasses/
py4godot/enums/
platforms/binary_dirs/python_ver_compile.cross

py4godot/gdnative_api/api.c
py4godot/gdnative_api/api_api.h
py4godot/events/*.c
py4godot/instance_data/InstanceData.c
py4godot/script_instance/PyScriptInstance.cpp
py4godot/script_instance/PyScriptInstance.h

py4godot/hints/*.cpp

# Godot and test directories
godot/
tests/addons/
tests/core/vector3/addons/
tests/core/vector2/addons/
tests/core/aabb/addons/
tests/core/basis/addons/
tests/core/array/addons/
tests/core/rect2/addons/
tests/core/color/addons/
tests/core/rid/addons/
tests/core/quat/addons/
tests/core/node_path/addons/
tests/core/transform/addons/
tests/core/transform2d/addons/
tests/core/pool_array/addons/
tests/binding/crash_on_call/addons/windows64/

# py4godot specific files
py4godot/core/variant4/cast_helpers.cpp
py4godot/core/variant4/type_helpers.cpp
py4godot/core/variant4/Variant4.cpp
py4godot/utils/utils.cpp
py4godot/godot_bindings/binding4_godot4.cpp
py4godot/godot_bindings/binding4_godot4.h
py4godot/cppenums/cppenums.h
py4godot/utils/instance_utils_api.h
py4godot/instance_data/InstanceData.cpp
py4godot/utils/print_tools.cpp
py4godot/script_instance/api
py4godot/script_extension/script_extension_helpers.cpp
py4godot/script_extension/script_extension_helpers_api.h
/py4godot/functions.pxd
/py4godot/functions.pyi
/py4godot/functions.pyx
/py4godot/functions.cpp
/py4godot/utils/MethodInfo.cpp
/py4godot/utils/ScriptHolder.cpp
/py4godot/utils/VariantTypeWrapper4.cpp
/py4godot/utils/VariantTypeWrapper4.h
/py4godot/test_file.cpp
/py4godot/script_instance/PyScriptInstance_api.h
/py4godot/utils/instance_utils.cpp
/py4godot/core/signals.cpp
/py4godot/constants.cpp
/py4godot/signals.cpp
/py4godot/cppcore/cast_type.cpp
/py4godot/core/variant4/cast_helpers.pyx
