build
build_meson
.idea
__pycache__
python_files
venv
.vscode

enums/*.c
core/**/*.c
core/**/*.h
pluginscript_api/*.c
pluginscript_api/*.h
pluginscript_api/**/*.c
utils/*.c

classes/*.c
classes/*.h
classes/generated.pxd
classes/generated.pyx