build
build_meson
.idea
__pycache__
python_files
venv
platforms/python_ver/python_ver_compile.cross
.vscode

enums/*.c
core/**/*.c
core/**/*.h
pluginscript_api/*.c
pluginscript_api/*.h
pluginscript_api/**/*.c
utils/*.c

classes/*.c
classes/*.h
py4godot/classes/generated.pxd
py4godot/classes/generated.pyx
/tests/addons/
/py4godot/gdnative_api/api.c
/py4godot/gdnative_api/api_api.h
