name: nightly linux
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *' # run at 3 AM UTC

jobs:
  linux-build:
    runs-on: ubuntu-latest
    container: niklas2902/py4godot:4.6
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          submodules: 'recursive'

      - name: Set up Python virtual environment
        shell: bash
        run: |
          python3 -m venv venv
          source venv/bin/activate
          python --version
          pip --version

      - name: Print variables
        shell: bash
        run: |
          source venv/bin/activate
          python meson_scripts/variables.py

      - name: Install dependencies
        shell: bash
        run: |
          source venv/bin/activate
          python -m pip install -r requirements.txt
          python -m pip install flake8
          python -m pip install setuptools

      - name: Print structure
        shell: bash
        run: |
          source venv/bin/activate
          python meson_scripts/print_tools.py

      - name: Generate files
        shell: bash
        run: |
          source venv/bin/activate
          python generate.py

      - name: Cythonize
        shell: bash
        run: |
          source venv/bin/activate
          python cythonize_files.py

      - name: Build
        shell: bash
        run: |
          source venv/bin/activate
          python build.py --target_platform=linux64 --compiler=gcc -create_plugin=False -buildtype=release -run_tests=True

      - name: Print structure
        shell: bash
        run: |
          source venv/bin/activate
          python meson_scripts/print_tools.py