name: nightly linux
on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *' # run at 2 AM UTC

jobs:
  linux-build:
    if: ${{ needs.check_date.outputs.should_run != 'false' }}
    runs-on: ubuntu-latest
    container: niklas2902/py4godot:4.5
    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          submodules: 'recursive'

      - name: Set up Python 3.11.3
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.3"

      - name: Print variables
        run: |
          python meson_scripts/variables.py


      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
          python -m pip install flake8
          python -m pip install setuptools

      - name: Print structure
        run: python meson_scripts/print_tools.py

      - name: Generate files
        run: python generate.py

      - name: Cythonize
        shell: bash
        run: python cythonize_files.py

      - name: Build
        run: python build.py --target_platform=linux64 --compiler=gcc -create_plugin=False -buildtype=release -run_tests=True

      - name: Print structure
        run: python meson_scripts/print_tools.py